body {
    color: #000;
    line-height: 1.8rem;
    font-family: 'Fira Sans', sans-serif;
}
#corpo {
    padding: 1.5rem;
}
h1 {
    font-size: 2.5rem;
    color: black;
    line-height: 3.5rem;
    text-align: center;
    padding-bottom: 1rem;
    
}
p {
    font-size: 1rem;
    color: black;
    line-height: 1.5rem;
    text-align: center;
    
}
header {
    position: sticky;
    top: 0;
    z-index: 10;
}
caption {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
table {
    margin-top: 10rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
table td {
    width: 50%;
    padding-left: 0.5rem;
    
}

.tc {
    background-color: #d2dce7;
}
.b {
    font-weight: bold;
}
.img {
    width: 20rem;
    padding: 2rem;
}
footer {
    background-color: rgb(238, 238, 238);
    margin-top: 2rem;
    padding: 2rem;
}
footer h2 {
    font-size: 1.5rem;
    padding: 2rem auto  -2rem;
    padding-bottom: 2rem;
    text-align: left;
}
input, button { 
    height: 3rem;
    width: 100%; }
    
button {
    background-image: linear-gradient(to right, #6cc1e2, #392f7a);

}


    
footer p {
    text-align: left;
}
#piace {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

