
body {
    font-family: 'Fira Sans', sans-serif;
}
#bd {
    padding: 1.5rem;
}


#textarea {
   
    height: 4rem;
}
input {
    height: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
}
form {
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
}
button {
    font-size: 1.5rem;
    color: white;
    padding: 0.8rem 1.2rem;
    margin-top: 1.5rem;
    margin-left: 18vw;
    border-style: none;
    background-image: linear-gradient(to right, #6cc1e2, #392f7a);
    
    margin-top: 1.5rem;
    border-style: none;
}
h2{
    font-size: 2rem;
    text-align: center;
    padding: 1.3rem;
}

p {
    text-align: center;
    line-height: 1.8rem;
}


footer {
    background-color: rgb(238, 238, 238);
    padding: 2rem;
    
}
footer p {
    text-align: left;
}
footer h2 {
    text-align: left;
    margin-left: -1.2rem;
}
.pulsante {
    width: 100%;
    margin: 0;
    
   
}